.home-content .content {
    min-height: 620px;
    background-image: url("https://cdn.turkishairlines.com/m/7cbe6a72dc6ff344/original/anasayfa-header-kapadokya.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-content div .title {
    padding-top: 150px;
}

.login {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input:focus {
    background: #dbdbdb;
}

.form button {
    outline: 0;
    background: #4b6cb7;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:active {
    background: #395591;
}

.form span {
    font-size: 75px;
    color: #4b6cb7;
}

.lock-icon {
    font-size: 50px;
    color: #4b6cb7;
    margin-bottom: 15px;
}

.form-date {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.reservation-date-button button {
    padding: .6rem;
}

.logo {
    font-size: 40px;
}

.list-group-item {
    background-color: #21252980 !important;
}

.list-group li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    color: red;
}

.nav-tabs .nav-link.active {
    background-color: #21252980 !important;
    border:none;
    color: white !important;
}
.nav-link {
    color: white !important;
}